.wrapper{
  .case{
    background-image: url("../img/case_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1c1c1c;
    background-position: bottom;
    .header{
      padding: 20px 0px 35px 0px;
      .container{
        display: flex;
        justify-content: space-between;
        .navBurger {
          box-sizing: border-box;
          width: 26px;
          height: 24px;
          cursor: pointer;
          transition: all .25s ease-in-out;
          transform: rotate(0deg);
          border-top: 11px solid transparent;
          border-bottom: 11px solid transparent;
          background: #ffffff;
          background-clip: content-box;
          margin: 19px 0 0 0;
          &:before,
          &:after {
            content: "";
            position: absolute;
            background: #ffffff;
            height: 2px;
            width: 100%;
            right: 0;
            will-change: rotate;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
          &:before {
            top: -6px;
          }
          &:after {
            bottom: -7px;
            width: 100%;
          }
          &.active {
            background: transparent;
            background-clip: content-box;
            z-index: 4;
          }
          &.active:before {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            top: 0;
            background: #eee;
            width: 110%;
          }
          &.active:after {
            bottom: 0;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            background: #eee;
            width: 110%;
          }
        }

        .overlay {
          position: fixed;
          background: #1c1c1c;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transform-origin: right top;
          transform: scale(0);
          visibility: hidden;
          transition: all 0.4s ease-in-out;
          overflow: hidden;
          &.open {
            opacity: 0.99;
            visibility: visible;
            transform: scale(1);
            z-index: 3;
            li {
              display: block;
              animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
              forwards;
              animation-delay: 0.4s;
              transform: rotate(-7deg);
              transform-origin: right bottom;
              &:nth-of-type(2) {
                animation-delay: 0.4s;
              }
              &:nth-of-type(3) {
                animation-delay: 0.5s;
              }
              &:nth-of-type(4) {
                animation-delay: 0.6s;
              }
              &:nth-of-type(5) {
                animation-delay: 0.7s;
              }
              &:nth-of-type(6) {
                animation-delay: 0.8s;
              }
              &:nth-of-type(7) {
                animation-delay: 0.9s;
              }
            }
          }
        }

        .overlayMenu {
          position: absolute;
          width: 100%;
          margin: 70px 0 0;
          ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: block;
            position: relative;
            height: 100%;
            li {
              display: block;
              position: relative;
              opacity: 0;
              width: 100%;
              a {
                display: inline-block;
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 10px 40px 10px 40px;
                margin: 5px 0;
                transition: 0.2s;
                &.btn{
                  display: block;
                  margin: 0 auto;
                }
                &:hover,
                &:active,
                &:focus {
                  transform: translateX(-2px);
                  padding-left: 80px;
                  outline: 1px solid rgba(255, 255, 255, 0.3);
                  background: rgba(255, 255, 255, 0.03);
                }
              }
            }
          }
        }

        .locked {
          overflow: hidden;
        }

        @keyframes fadeInRight {
          0% {
            opacity: 0;
            left: 50px;
          }
          100% {
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
          }
        }
        .logo{
          display: block;
          margin: 0 auto;
          background-image: url("../img/gorizontal_white.svg");
          background-repeat: no-repeat;
          background-size: contain;
        }
        .descMenu{

        }
      }
    }
    .container{
      .breadcrumb{
        li{
          color: #ffffff;
          a{
            color: #ffffff;
          }
        }
      }
      h3{
        color: #ffffff;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 24px;
      }
     #tabs{
       padding: 0 0 83px 0;
       ul{
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         margin: 39px 0 31px 0;
         li{
           width: 50%;
           padding: 0 10px 0 10px;
           &:nth-child(1){
             text-align: right;
           }
           &:nth-child(2){
             text-align: left;
           }
           &:nth-child(3){
             text-align: right;
           }
           &:nth-child(4){
             text-align: left;
           }
           &:nth-child(5){
             text-align: right;
           }
           &:nth-child(6){
             text-align: left;
           }
           &:nth-child(5){
             text-align: right;
           }
           &:nth-child(6){
             text-align: left;
           }
           &:nth-child(7){
             text-align: right;
           }
           &:nth-child(8){
             text-align: left;
           }
           &:nth-child(9){
             text-align: right;
           }
           &:nth-child(10){
             text-align: left;
           }
           &:nth-child(11){
             text-align: right;
           }
           &:nth-child(12){
             text-align: left;
           }
           &:nth-child(13){
             text-align: right;
           }
           &:nth-child(14){
             text-align: left;
           }
           &:nth-child(15){
             text-align: right;
           }
           &:nth-child(16){
             text-align: left;
           }
           &:nth-child(17){
             text-align: right;
           }
           &:nth-child(18){
             text-align: left;
           }
           &.ui-tabs-active{
             a{
               font-size: 13px;
               font-weight: 700;
               line-height: 24px;
               color: #de155c;
               position: relative;
               text-transform: uppercase;
               letter-spacing: 2.6px;
               &:before{
                 width: 100%;
               }
             }
           }
           a{
             color: #ffffff;
             font-size: 13px;
             font-weight: 700;
             line-height: 24px;
             text-transform: uppercase;
             letter-spacing: 2.6px;
             position: relative;
             &:before{
               content: '';
               background-color: #de155c;
               bottom: 0;
               height: 2px;
               display: block;
               width: 0%;
               left:50%;
               position:absolute;
               -webkit-transition: width .3s ease-in-out;
               -moz--transition: width .3s ease-in-out;
               transition: width .3s ease-in-out;
               -webkit-transform:translateX(-50%);
               -moz-transform:translateX(-50%);
               transform:translateX(-50%);
             }
           }

         }
       }
       .tab_content{
         .box_job{
           margin: 0 auto 13px;
           background-color: #171717;
           .text_block{
             padding: 20px 15px 20px 17px;
             h5{
               color: #ffffff;
               font-size: 24px;
               font-weight: 400;
               line-height: 28px;
             }
             p{
               color: #ffffff;
               font-size: 16px;
               font-weight: 400;
               line-height: 30px;
             }
             a{

               font-weight: 700;
               line-height: 24px;
               text-transform: uppercase;

             }
           }
         }
         .pagination{
           display: flex;
           margin: 28px auto 30px;
           justify-content: center;
           li{
             width: auto;
             margin: 0;
             text-align: center;
             a{
               font-size: 20px;
             }
           }
         }
       }
     }
    }
    .footer{
      background-size: auto;
      .container{
       .form{
         h4{
           color: #ffffff;
         }
       }
        .brief{
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .wrapper{
    .case{
      background-position: 0px 356px;
      .header{
        .container{
          display: flex;
          justify-content: flex-start;
          .navBurger{
            display: none;
          }
          .overlay{
            display: none;
          }
          .logo{
            margin: 4px 0 0 19px;
          }
          .descMenu{
            margin: 22px 21px 0 50px;
            .menu{
              li{
                a{
                  color: #ffffff;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 72px;
                }
              }
            }
            .contact{
              display: flex;
              justify-content: space-between;
              margin: 0px 0px 0 16px;
              li{
                .phone{
                  font-size: 19px;
                  font-weight: 500;
                  line-height: 72px;
                  color: #ffffff;
                }
                .btn{
                  font-size: 18px;
                  font-weight: 500;
                  padding: 10px 10px;
                  color: #181818;
                  border-radius: 20px;
                  background-color: #ffffff;
                  width: 181px;
                }
              }
            }
          }
        }
      }
      .container{
        h3{
          font-size: 120px;
          font-weight: 700;
          line-height: 93px;
          color: #fff;
          padding: 0px 0 0 0;
        }
        #tabs{
          padding: 0 0 83px 0;
          ul{
           flex-wrap: nowrap;
            margin: 45px 0 97px;
            justify-content: center;
            li{
              width: auto;
              padding: 0 23px;
              text-align: center;
              &.ui-tabs-active{
                position: relative;
                a{
                  font-size: 14px;
                  letter-spacing: 2.8px;
                  &:before{
                    content: '';
                    background-color: #de155c;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                  }
                }
              }
              a{
                font-size: 14px;
                letter-spacing: 2.8px;
              }

            }
          }
          .tab_content{
            .box_job{
              max-width: 1160px;
              margin: 0 auto 40px;
              .text_block{
                padding: 26px 15px 20px 38px;
                h5{
                  font-size: 36px;
                }
                p{
                  font-size: 20px;
                  line-height: 47px;
                }

              }
            }
            .pagination{

              li{

                a{
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  .wrapper{
    .case{
      .header{
        .container{
          display: flex;
          justify-content: flex-start;
          .navBurger{
            display: none;
          }
          .overlay{
            display: none;
          }
          .logo{
            margin: 4px 0 0 19px;
          }
          .descMenu{
            margin: 22px 21px 0 50px;
            .menu{
              li{
                a{
                  font-size: 18px;
                }
              }
            }
            .contact{
              display: flex;
              justify-content: space-between;
              margin: 0 0 0 16px;
              li{
                .phone{
                  font-size: 24px;
                  font-weight: 500;
                  line-height: 72px;
                }
                .btn{

                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1960px) {
  .footer{
    overflow: hidden;
    &:before{
      width: 100%;
      background: url(../img/Shape_7.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      height: 306px;

    }
    &:after{
      content: '';
      position: absolute;
      top: 304px;
      left: 0;
      width: 100%;
      height: 100%;
      background: #cd0035;
    }
  }

}