<footer class="footer">
    <div class="container">
        <div class="form">
            <h4>Остались вопросы?</h4>
            <form id="anchor2" >
                <div class="input_box">
                    <label>Имя*</label>
                    <span><input type="text"></span>
                </div>
                <div class="input_box">
                    <label>Телефон*</label>
                   <span> <input type="tel" class="phone_mask" maxlength="18" ></span>
                </div>
                <div class="input_box">
                    <label>Email*</label>
                   <span> <input type="text"></span>
                </div>
                <div class="input_box sms">
                    <label>Сообщение*</label>
                    <span><textarea></textarea></span>
                </div>
                <button class="btn_w">Отправить</button>
            </form>
        </div>

        <div class="brief">
            <h4>Заполните бриф:</h4>
            <form id="anchor2">
                <div class="input_box">
                    <label>Имя*</label>
                    <span> <input type="text"></span>
                </div>
                <div class="input_box">
                    <label>Телефон*</label>
                  <span>  <input type="tel" class="phone_mask" maxlength="18" ></span>
                </div>
                <div class="input_box">
                    <label>Email*</label>
                    <span> <input type="text"></span>
                </div>
                <div class="input_box">
                    <label>Город</label>
                    <span> <input type="text"></span>
                </div>
                <div class="input_box">
                    <label>Компания</label>
                    <span> <input type="text"></span>
                </div>
                <div class="input_box">
                    <label>Ссылка на сайт</label>
                    <span> <input type="text"></span>
                </div>
                <div class="input_box sms">
                    <label>Опишите проект</label>
                    <span><textarea></textarea></span>
                </div>
                <div class="input_box file">
                    <div class="upload_form">
                       <span>
                               <div class="fl_upld">
                                   <label><input id="fl_inp" type="file" name="file">Выберите файл</label>
                                   <div id="fl_nm">Файл не выбран</div>
                               </div>
                        </span>
                    </div>
                </div>

                <button class="btn_w">Отправить</button>
            </form>
        </div>
        <div class="footer_block">
            <a href="index.html" class="logo">
                <img src="img/gorizontal_white.svg">
            </a>
            <div class="footer_nav">
                <div class="box adress">
                    <h4>Офис</h4>
                    <p>Москва, ул. Ленинская Слобода, д. 19</p>
                    <p><a class="tel" href="tel:+7 123 456 78 90">+7 123 456 78 90</a></p>
                    <p class="mail"><a href="some@mail.com">some@mail.com</a></p>
                </div>
                <div class="box desktop">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="service.html">Услуги</a></li>
                        <li><a href="case.html">Кейсы</a></li>
                        <li><a href="company.html">О нас</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="box desktop">
                    <ul>
                        <li>
                            <a href="#">Мы создаем:</a>
                        </li>
                        <li>
                            <a href="#"><span>Логотип</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Брендинг</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Упаковка</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Сайт</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Промо-материалы</span></a>
                        </li>
                    </ul>
                </div>
                <div class="box desktop">
                    <ul>
                        <li>
                            <a href="#">И создаем поток клиентов:</a>
                        </li>
                        <li>
                            <a href="#"><span>Контекстная реклама</span></a>
                        </li>
                        <li>
                            <a href="#"><span>SMM</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Медийная реклама</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <p>Все права защищены, 2019 г.</p>
        </div>
    </div>


</footer>