<header class="header">
   <div class="container">
       <div class="overlay">
           <nav class="overlayMenu">
               <ul role="menu">
                   <li><a href="index.html">Главная</a></li>
                   <li><a href="service.html">Услуги</a></li>
                   <li><a href="case.html">Кейсы</a></li>
                   <li><a href="company.html">О нас</a></li>
                   <li><a href="contacts.html">Контакты</a></li>
                   <li><a href="tel:+71234567890" class="phone"><span><i class="icon-communications"></i></span>+7 123 456 78 90</a></li>
                   <li><a href="#anchor2" class="btn scroll scrollToggle">Начать проект</a></li>
               </ul>
           </nav>
       </div>
       <div class="navBurger" role="navigation" id="navToggle"></div>
       <a href="index.html" class="logo">

       </a>
       <nav class="descMenu">
           <ul class="menu">
               <li><a href="index.html">Главная</a></li>
               <li><a href="service.html">Услуги</a></li>
               <li><a href="case.html">Кейсы</a></li>
               <li><a href="company.html">О нас</a></li>
               <li><a href="contacts.html">Контакты</a></li>
           </ul>
           <ul class="contact">
               <li><a href="tel:+71234567890" class="phone"><span><i class="icon-communications"></i></span>+7 123 456 78 90</a></li>
               <li><a href="#anchor2" class="btn scroll ">Начать проект</a></li>
           </ul>
       </nav>
   </div>
</header>

