# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work\AFT-Promo-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
